# Node JS / Next JS

node_modules/
.next/
out/
dist/
build/

# Package manager files / caches

.npm/
.pnpm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
.yarn-integrity
*.tgz

# Logs

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TypeScript

*.tsbuildinfo
next-env.d.ts

# Testing / coverage

coverage/
.nyc_output/
*.lcov

# ESLint / Stylelint

.eslintcache
.stylelintcache

# Build tool caches

.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/

# Python / FAST API

# Python bytecode / cache

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

.venv/
venv/
env/
ENV/

# Python packaging

*.egg
*.egg-info/
dist/
build/
wheels/
pip-wheel-metadata/

# Testing

.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Type checkers / linters

.mypy_cache/
.pyright/
.ruff_cache/

# Jupyter

.ipynb_checkpoints/

# Fast API Server

# Uvicorn / Gunicorn logs

*.pid
*.pid.lock

# Local database files

*.db
*.sqlite
*.sqlite3

# Environment Variables

.env
.env.*
!.env.example

# IDE / OS

.vscode/
!.vscode/extensions.json

.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

# Vercel

.vercel/

# Misc

*.pem
*.seed
*.tgz
*.lock-wscript
.node_repl_history
bower_components/
jspm_packages/
web_modules/
.grunt/
.serverless/
.dynamodb/
.tern-port
.temp/
.docusaurus/
.vuepress/dist/
